<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <p>I say that I like cats more, but I actually like dogs better</p>
    <p>I whispered that professor Donham looks like Steve Jobs on class last week</p>
    <p>I laughed way too hard at this joke: </p>
    <pre>
    What does an air conditioner and a computer have in common?
    -Neither of them work when we open windows.
    </pre>
</body>
</html>
